.app-container {
    display: flex;
    min-height: 100vh;
}

.main-content {
    flex: 1;
    background-color: var(--color-primary);
    display: flex;
    flex-direction: column;
    transition: margin-left 0.3s ease;
}

.main-content.sidebar-open {
    margin-left: 260px;
}

.main-content.sidebar-closed {
    margin-left: 60px;
}

main {
    flex: 1;
}